body, h1, h2, ul, p {
    margin: 0;
    padding: 0;
}
h1, h2, ul, p{
  padding: 5px;
}
body {
    font-family: Arial, sans-serif;
    background-color: #F1EFEF;
}

header {
    background-color: #CCC8AA;
    color: #fff;
    text-align: center;
    padding: 20px 0;
}

.profile{
    position: center;
}

h1 {
    font-size: 36px;
}

h2 {
    font-size: 24px;
    margin-top: 20px;
}

section {
    background-color: #fff;
    margin: 20px;
    padding: 20px;
    border-radius: 5px;
}

ul {
    list-style-type: disc;
    margin-left: 20px;
}


footer {
    text-align: center;
    background-color: #CCC8AA;
    color: #fff;
    padding: 10px;
}
